<footer class="footer text-start mt-auto">
  <div class="container py-3 my-5">
    <div class="row">

      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <a class="" href="/">
          <img src="/assets/img/poap-badge.png" height="70"/>
        </a>
      </div>

      <div class="col-lg-4 col-md-6 mb-4 mb-md-0 poap-purple-dark">
        <h5 class="text-uppercase mb-2">Resources</h5>
        <ul class="list-unstyled">
          <li class="ms-2 mb-2">
            <a href="/en/resources/all" class="text-decoration-none">Resources</a>
          </li>
          <li class="ms-2 mb-2">
            <a href="/en/integrations/all" class="text-decoration-none">Integrations</a>
          </li>
          <li class="ms-2 mb-2">
            <a href="/en/resources/dev" class="text-decoration-none">Developers</a>
          </li>
          <li class="ms-2 mb-2">
            <a href="/en/support" class="text-decoration-none">Support</a>
          </li>
          <li class="ms-2 mb-2">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdaJ8YDZpncX11BJY3mpvdO0kAFjKsQSet84QKFnIoJFcud1Q/viewform" target="_blank" class="text-decoration-none">Feedback</a>
          </li>
          <li class="ms-2 mb-2">
            <a href="https://careers.poap.xyz/" class="text-decoration-none" target="_blank">Careers</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-6 mb-4 mb-md-0 text-lg-end poap-purple-dark">
        <h5 class="text-uppercase mb-4">Join our community!</h5>
        <div class="social-icons"> 
          <a href="https://twitter.com/poapxyz/" class="text-decoration-none" target="_blank">
            <img src="https://poap.xyz/logo-twitter4.d8ca1d0f.svg" alt="Twitter">
          </a> 
          <a href="https://github.com/poap-xyz" class="text-decoration-none" target="_blank">
            <img src="https://poap.xyz/logo-github4.1c558c0b.svg" alt="Github">
          </a> 
          <a href="https://t.me/poapxyz" class="text-decoration-none" target="_blank">
            <img src="https://poap.xyz/logo-telegram4.ed34530e.svg" alt="Telegram">
          </a> 
          <a href="https://discord.gg/fcxW4yR" class="text-decoration-none" target="_blank">
            <img src="https://poap.xyz/logo-discord4.5408b923.svg" alt="Discord">
          </a> 
          <a href="https://reddit.com/r/poap" class="text-decoration-none" target="_blank">
            <img src="https://poap.xyz/logo-reddit4.407f34a2.svg" alt="Reddit">
          </a> 
        </div> 
      </div>
    </div>

  </div>
</footer>